table,td,tr,th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}
/* #th{
  font-size: 40px;
} */
.payoutColumn{
  width: 50px;
	padding-left: 20px;

}
.nameColumn{
  width: 400px;
  padding-left: 20px;
  text-align: center;
}
.rateColumn{
  width: 250px;
  padding: 4px 0 2px 0;
  text-align: center;
}
.streamsColumn {
  width: 300px;
	padding: 4px 0 2px 0;
	text-align: center;
}
.paColumn{
  width: 300px;
	padding: 4px 0 2px 0;
	text-align: center;
}

.artistList {
  display:flex;
  align-items: center;
  text-align: center;
}

/* Table format */
th {
  background-color: lightgray;
}
.table-sticky-container {
  height: 800px;
  overflow-y: scroll;
  border-bottom: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}

.tableArtist{
  width:60%;
  display: inline-block;
}

.tableArtist th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

th:after,
th:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
}

th:before {
  top: -1px;
  border-top: 1px solid #c0c0c0;
}

th:after {
  bottom: -1px;
  border-bottom: 2px solid #c0c0c0;
}

.tableArtist tr:hover {background-color: #ddd;}
/* End of Table format */

.header {
  text-align: center;
}
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 39%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}